body {
  height: 100%;
  background-image: url(./Images/farm-sunset-west-texas-landscape.JPG);
  font-family: lato, sans-serif;
  background-size: cover;
 background-repeat: no-repeat;
}

.nav-wrapper {
  color: white;
  background-color: #cc533e;
}

.map {
  width: 100%;
  height: 400px;
  border-style: solid;
  border-width: thin;
  float: left;
}
#moreInfo {
  background-color: rgb(204, 83, 62, .8);
  float: left;
  border-radius: 10px;
  font-size: 20px;
  margin: 0 auto;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 5px;
  margin-right: 5px;
  border-style: solid;
  border-width: thin;
}

#farmersList {
  float: right;
  background-color: rgb(204, 83, 62, .65);
  display: flex;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: thin;
  
}


.card {
  /*opacity: 0.9;
  margin-top: 5px;
  align: center;
  width: 100%; */
  color: white;
  height: 100%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #cc533e;
  
}

#content {
  padding: 25% 25% 5%;
  position: relative;
  padding-top: 2px;
}

.search-form {
  border-radius: 100px 0 0 30px;
}

.input-group {
  width: 100%;
  text-align: center;
}

/* .input-group-btn {
  max-width: 38px;
} */

#search {
  height: 42px;
  border: 1px;
  width: 500px;
  background-color: white;
  opacity: 0.9;
}

.search-btn {
  cursor: pointer;
  border-radius: 0 30px 30px 0;
  background-color: #fff;
  color: #669;
}

.text-center {
  color: #fff;
}

.header {
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: indie flower;
}

.nav-wrapper, nav, h4, h5{
  font-family: indie flower;
}

#list {
  display: inline-block;
}
.farm-list {
  margin-bottom: 10px;
  display: block;
  font-size: 16px;  
}

.waves-effect.waves-brown .waves-ripple {
  height: 42px;
   background-color: rgba(121, 85, 72, 0.65);
 }
.container{
  display: inline;
}


#storedZips{
  text-align: center;
  padding-top: 2%;
}

#newTitle{
  font-size: 35px;
  color: white;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  font-family: indie flower;
}
 #address, #products, #schedule {
   color: white;
 }


.images-arrow {
  content:url(./Images/capture.png);
  width: 25%;
  height: 25%;
  float: right;
  position: relative;
  /* animation-name: mymove;
  animation: mymove 2s;
  animation-timing-function: linear;
  
}

@keyframes mymove {
  from {left: -700px;}
  to {left: 50px;}
} */

