.nav-wrapper {
  color: white;
  background-color: #cc533e;
}
.map {
  width: 40%;
  height: 400px;
  background-color: #cc533e;
  float: left;
} 
#moreInfo{
  background-color: #cc533e;
  width: 40%;
  height: 200px;
  float: left;
  margin-top: 50px;
}
  
 #farmersList{
    float: right;
    width: 40%;
    height: 400px;
    background-color: #cc533e;
} 

.card {
  /*opacity: 0.9;
  margin-top: 5px;
  align: center;
  width: 100%; */
  color: white;
  height: 300px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #cc533e;
  
}

html, body {
  height:100%;
  background-image: url("images/sunset.jpg");
  font-family: Montserrat, sans-serif;
}

.well {
  background-color: #ffffee
}

#content {
  padding: 25% 25% 5%; 
  position: relative; 
}

.search-form {
  border-radius: 100px 0 0 30px;
}

.input-group {
  width:100%;
}

.input-group-btn {
  max-width:38px;
}

#search {
  border: 1px;
  width: 500px;
}

.search-btn {
  cursor:pointer;
  border-radius: 0 30px 30px 0; 
  background-color:#fff;
  color:#669;
  
}

.text-center {
  color: #fff;
}

.header {
  text-align: center;
  color: white;
  font-size: 25px;
}
#list{
  display:inline-block;
}
.farm-list{
  margin-bottom: 10px;
  display: inline-block;
  
}